<!DOCTYPE html>

<html xlmns:th="http://www.thymeleaf.org">

<head>
    <title>Product Center</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous" />
</head>

<body>
    <!-- Top bar with title, search and member shortcut -->
    <div class="d-flex align-items-center page-header bg-dark bg-gradient">
        <div class="flex-fill text-start">
            <h1><a th:href="@{/}" class="link-light text-white" style="margin-left: 5px">PPHOLIC</a></h1>
        </div>
        
        <div class="flex-grow-1 text-center">
            <form action="#" th:action="@{/product/search}" method="GET">
                <label class="form-inline col-8">
                    <input type="text" placeholder="Where do yo want to go today?" name="searchName"
                            class="form-control" />
                </label>
                <input type="submit" class="btn btn-info col-2" value="Search" />
            </form>
        </div>
        
        <div class="flex-grow-1 text-end">
            <a th:href="@{/showLoginPage}" th:if="${session.user == null}" 
                    class="btn btn-primary col-3">Login</a>
                
            <a th:href="@{/register/showMemberRegisterForm}" th:if="${session.user == null}"
                class="btn btn-primary col-3">Sign On</a>

            <form action="#" sec:authorize="hasRole('MEMBER')" th:action="@{/logout}" method="POST">
                <a th:href="@{/member/center}" class="btn btn-primary col-3 ">Profile </a>

                <button type="submit" class="btn btn-danger col-3 ">Log out</button>
            </form>
        </div>
    </div>
    <br>
    <div class ="container">
        <div id="content" th:with="sortName = ${T(com.zh.ppholic_server_demo.util.SortUtils).PRODUCT_NAME},
                                    sortPrice = ${T(com.zh.ppholic_server_demo.util.SortUtils).PRICE}, 
                                    sortInfo = ${T(com.zh.ppholic_server_demo.util.SortUtils).INFO},
                                    sortLastUpdate = ${T(com.zh.ppholic_server_demo.util.SortUtils).LAST_UPDATE},
                                    sortSubCategory = ${T(com.zh.ppholic_server_demo.util.SortUtils).SUB_CATEGORY}">
            <br>
            <p>
                <a th:href="@{/member/shoppinglist/center}" class="btn btn-primary col-2"> Check the Cart </a>
        
                <a th:href="@{/product/center}" class="btn btn-primary col-2"> Back to Full List </a>
            </p>
            <p>
                <table class = "table table-bordered table-striped">
                    <thead >
                        <tr class = "table-dark text-center">
                            <th><a th:href="@{/product/show (sortIndex=${sortSubCategory}, searchName=${searchName})}" class="text-light">Sub Category</th>
                            <th><a th:href="@{/product/show (sortIndex=${sortName}, searchName=${searchName})}" class="text-light">Product Name</a></th>
                            <th><a th:href="@{/product/show (sortIndex=${sortPrice}, searchName=${searchName})}" class="text-light">Price</a></th>
                            <th><a th:href="@{/product/show (sortIndex=${sortInfo}, searchName=${searchName})}" class="text-light">Information</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tempProduct : ${products}" class="align-middle">
                            <td th:text = "${tempProduct.subCategory.name}" class = "text-center">
                            <td class = "text-center">
                                <a th:href="@{/product/page (productId=${tempProduct.id})}"
                                th:text = "${tempProduct.name}"></a>
                            </td>
                            <td th:text = "${#numbers.formatInteger(tempProduct.price,3,'COMMA')}" class = "text-center">
                            <td th:text = "${tempProduct.information}">
                        </tr>
                    </tbody>
                </table>    
            </p>
        </div>
    </div>
</body>

</html>